.body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url("");
}
nav ul{
    background-color: black;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
nav li {
    float: left;              
}
nav li a {
    display: block;           
    color: white;             
    text-align: center;
    padding: 14px 20px;       
    text-decoration: none;    
}
.container{
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 20px;
    overflow: hidden;
    background-color: grey;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
